include template/header
.index-wrapper
  ul
    li
      a(href="index.html" title="Современный учебник Javascript") назад
  h1 Структуры данных
  p Изучаем JavaScript: расширенное знакомство со встроенными типами данных, их особенностями.


include template/footer