include template/header
style.
    body {padding: 15px;}
.index-wrapper
    ul
        li
            a(href="index.html" title="Современный учебник Javascript") назад
    h1 Документ и объекты страницы
    p.
        При помощи JavaScript получаем и меняем существующие элементы на странице, а также создаём новые.
    ul
        li Окружение: DOM, BOM и JS
        li Дерево DOM
        li Работа с DOM из консоли
        li Навигация по DOM-элементам
        li Поиск: getElement* и querySelector* и не только
        li Внутреннее устройство поисковых методов
        li Свойства узлов: тип, тег и содержимое
        li Современный DOM: полифиллы
        li Атрибуты и DOM-свойства
        li Методы contains и compareDocumentPosition
        li Добавление и удаление узлов
        li Мультивставка: insertAdjacentHTML и DocumentFragment
        li Метод document.write
        li Стили, getComputedStyle
        li Размеры и прокрутка элементов
        li Размеры и прокрутка страницы
        li Координаты в окне
        li Координаты в документе
        li Итого
    h7 Задача 21
    #container21 (кликните чтобы увидеть Область видимости для документа в консоли)
    h7 Задача 20 (кликните на ЦИТАТУ чтобы увидеть заметки: 2000ms)
    style.
        .note20 {
            top: 100px;
            position: absolute;
            z-index: 1000;
            padding: 5px;
            border: 1px solid black;
            background: white;
            text-align: center;
            font: italic 14px Georgia;
        }

        blockquote {
            background: #f9f9f9;
            border-left: 10px solid #ccc;
            margin: 0 0 0 100px;
            padding: .5em 10px;
            quotes: "\201C""\201D""\2018""\2019";
            display: inline-block;
            white-space: pre;
        }

        blockquote:before {
            color: #ccc;
            content: open-quote;
            font-size: 4em;
            line-height: .1em;
            margin-right: .25em;
            vertical-align: -.4em;
        }
    #container20
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            | Reprehenderit sint atque dolorum fuga ad incidunt voluptatum 
            | error fugiat animi amet! Odio temporibus nulla id unde 
            | quaerat dignissimos enim nisi rem provident molestias 
            | sit tempore omnis recusandae  esse sequi officia sapiente.
        blockquote#blockquote20
            | - Что на завтрак, Бэрримор? <br />
            | - Овсянка, сэр. <br />
            | - А на обед? <br />
            | - Овсянка, сэр. <br />
            | - Ну а на ужин? <br />
            | - Котлеты, сэр. <br />
            | - Уррра!!! <br />
            | - Из овсянки, сэр!!!<br />
        p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            | Reprehenderit sint atque dolorum fuga ad incidunt voluptatum 
            | error fugiat animi amet! Odio temporibus nulla id unde 
            | quaerat dignissimos enim nisi rem provident molestias 
            | sit tempore omnis recusandae  esse sequi officia sapiente.
    h7 Задача 19 (координаты четырёх точек в консоли)
    style.
        #container19 {
            padding: 20px 0 0 20px;
            cursor: pointer;
        }
        #field19 {
            overflow: hidden;
            width: 200px;
            height: 150px;
            border-top: 10px solid black;
            border-right: 10px solid gray;
            border-bottom: 10px solid gray;
            border-left: 10px solid black;
            background-color: #00FF00;
            font: 10px/1.2 monospace;
        }
        .triangle-right19 {
            position: relative;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 20px solid red;
            text-indent: -20px;
            font: 12px/1 monospace;
        }
    #container19
        | Кликните на любое место, чтобы получить координаты относительно окна. <br>
        | Это для удобства тестирования, чтобы проверить 
        | результат, который вы получите из DOM. <br>
        #coords19 (координаты появятся тут)
        #field19
            | . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . .
        .triangle-right19(style="left:-20px;top:-176px") 1
        .triangle-right19(style="left:-10px;top:-178px") 2
        .triangle-right19(style="left:190px;top:-40px") 3
        .triangle-right19(style="left:200px;top:-42px") 4
  
    h7 Задача 18 (Полифилл для pageYOffset в IE8)
    #container18.
        Щёлкните, чтобы проверить
    h7 Задача 17 (распахнуть элемент)
    style.
        #elem17 {
            width: 200px;
            height: 150px;
            background-color: red;
            padding: 20px;
            overflow: auto;
        }

        #container17 {
            border: 1px solid black;
        }
    #container17
        #elem17
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
            | текст текст текст текст текст текст текст текст 
    h7 Задача 16
    style.
        #field {
            width: 200px;
            border: 10px groove black;
            background-color: #00FF00;
            position: relative;
        }
        #ball {
            position: absolute;
        }
    #container16
        #field
            img(src="https://js.cx/clipart/ball.svg" id="ball" width="40" height="40")
            | . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . . . . . . . . . 
            | . . . . . . . . . . . . . . . . . . .
  
    h7 Задача 15
    style.
        #moving-div {
            border: 5px groove green;
            padding: 5px;
            margin: 10px;
            background-color: yellow;
        }
    #container15(style="position: relative")
        | Before Before Before
        #moving-div
            | Text Text Text<br>
            | Text Text Text<br>
        | After After After
    style.
        .notification {
            position: fixed;
            z-index: 1000;
            padding: 5px;
            border: 1px solid black;
            font: normal 20px Georgia;
            background: white;
            text-align: center;
        }
        .welcome {
            background: red;
            color: yellow;
        }
    h7 Задача 14 (кликните, чтобы узнать размер нижнего скролла в консоли);
    #container14(style="width: 200px; height: 200px; border: 2px solid grey; overflow: auto; padding: 7px;")
        p.
            Было бы полезно начать с истории языка. JavaScript был создан в 1995 
            Бренданом Айком, инженером в компании Netscape. Первый релиз 
            состоялся вместе с выходом браузера Netscape 2 в начале 1996 года. 
            Сначала язык назывался LiveScript, но затем был переименован в связи с 
            маркетинговыми целями, чтобы сыграть на популярности языка Java 
            компании Sun Microsystem — несмотря на это языки практически не 
            имеют ничего общего друг с другом. Так было положено начало 
            путаницы между этими языками.
        p.
            Чуть позже Microsoft выпустила очень похожий и практически 
            совместимый язык JScript, который шёл вместе с IE3. 
            Через пару месяцев Netscape отправил язык в Ecma International, 
            Европейскую организацию занимающуюся стандартами, 
            которая выпустила первую версию стандарта ECMAScript в 1997. 
            Стандарт получил значимое обновление в ECMAScript edition 3 в 
            1999, и остается самым стабильным до сегодняшнего дня. 
            Четвертая версия была отклонена, из-за проблем с 
            усложнениями в языке. Многие вещи из четвертого издания 
            послужили основой для стандарта ECMAScript 5 
            (декабрь 2009) и ECMAScript 6 (июнь 2015).
    h7 Задача 13
    #container13
    h7 Задача 12
    #container12
    h7 Задача 11
    p Сортировка таблицы по щелчку на заголовке;
    table
        tbody
            tr
                th(data-sort-table="string") Имя
                th(data-sort-table="string") Фамилия
                th(data-sort-table="string") Отчество
                th(data-sort-table="number") Возраст
            tr
                td Вася
                td Петров
                td Александрович
                td 10
            tr
                td А
                td Б
                td Е
                td 1
            tr
                td Б
                td А
                td Д
                td 2
            tr
                td В
                td Г
                td Г
                td 3
            tr
                td Г
                td В
                td В
                td 4
            tr
                td Д
                td Е
                td Б
                td 5
            tr
                td Е
                td Д
                td А
                td 6
            tr
                td Петя
                td Иванов
                td Петрович
                td 15
            tr
                td Владимир
                td Ленин
                td Ильич
                td 9
            tr
                td Александр
                td Соболев
                td Константинович
                td 26
            tr
                td Сергей
                td Соболев
                td Константинович
                td 36
            tr
                td Александр
                td Денисов
                td Вадимович
                td 25
    h7 Задача 10
    ul#container10
        li 1
        li 2
    h7 Задача 9
    #container9
        p Часики
    h7 Задача 8
    #container8
        p Календарик
    h7 Задача 7
    #container7
        ul
            li
                | Животные
                ul
                    li
                        | Млекопитающие
                        ul
                            li Коровы
                            li Ослы
                            li Собаки
                            li Тигры
                    li
                        | Другие
                        ul
                            li Змеи
                            li Птицы
                            li Ящерицы
            li
                | Рыбы
                ul
                    li
                        | Аквариумные
                        ul
                            li Гуппи
                            li Скалярии
                    li
                        | Морские
                        ul
                            li Морская форель
    h4 Задача 6
    div#container6
    h4 Задача 5
    ul#ul5 Щёлкни чтобы добавить пункты <
    h4 Задача 4
    table#table4
        tr
            td Это
            td Все
            td Элементы DOM
    ol#ol4
        li Вася
        li Петя
        li Маша
        li Даша
    div#elem4
    div#div4
        div Это
        div Элементы
    h4 Задача 3
    div(id="widget" data-widget-name="menu") Выберите сайт
    style.
        .external {
            background-color: yellow
        }
    a(name='list') список
    ul
        li
            a(href='http://google.com') http://google.com
        li
            a(href='/tutorial') /tutorial.html
        li
            a(href='local/path') local/path
        li
            a(href='ftp://ftp.com/my.zip') ftp://ftp.com/my.zip
        li
            a(href='http://nodejs.org') http://nodejs.org
        li
            a(href='http://internal.com/test') http://internal.com/test
    h4 Задача 2
    ul#ul1
        li Животные
            ul
                li Млекопитающие
                    ul
                        li Коровы
                        li Ослы
                        li Собаки
                        li Тигры
                li Другие
                    ul
                        li Змеи
                        li Птицы
                        li Ящерицы
        li Рыбы
            ul
                li Аквариумные
                    ul
                        li Гуппи
                        li Скалярии
                li Морские
                    ul
                        li Морская форель
    h4 Задача 1
    style.
        table {
        border-collapse: collapse;
        }

        td {
        border: 1px solid black;
        padding: 3px 5px;
        }
    table#table1
        tr
            td 1:1
            td 2:1
            td 3:1
            td 4:1
            td 5:1
        tr
            td 1:2
            td 2:2
            td 3:2
            td 4:2
            td 5:2
        tr
            td 1:3
            td 2:3
            td 3:3
            td 4:3
            td 5:3
        tr
            td 1:4
            td 2:4
            td 3:4
            td 4:4
            td 5:4
        tr
            td 1:5
            td 2:5
            td 3:5
            td 4:5
            td 5:5
include template/footer