include template/header
.index-wrapper
    ul
        li
            a(href="index.html" title="Современный учебник Javascript") назад
    h1 Документ и объекты страницы
    p.
        При помощи JavaScript получаем и меняем существующие элементы на странице, а также создаём новые.
    ul
        li Окружение: DOM, BOM и JS
        li Дерево DOM
        li Работа с DOM из консоли
        li Навигация по DOM-элементам
        li Поиск: getElement* и querySelector* и не только
        li Внутреннее устройство поисковых методов
        li Свойства узлов: тип, тег и содержимое
        li Современный DOM: полифиллы
        li Атрибуты и DOM-свойства
        li Методы contains и compareDocumentPosition
        li Добавление и удаление узлов
        li Мультивставка: insertAdjacentHTML и DocumentFragment
        li Метод document.write
        li Стили, getComputedStyle
        li Размеры и прокрутка элементов
        li Размеры и прокрутка страницы
        li Координаты в окне
        li Координаты в документе
        li Итого
    h4 Задача 3
    h4 Задача 2
    ul#ul1
        li Животные
            ul
                li Млекопитающие
                    ul
                        li Коровы
                        li Ослы
                        li Собаки
                        li Тигры
                li Другие
                    ul
                        li Змеи
                        li Птицы
                        li Ящерицы
        li Рыбы
            ul
                li Аквариумные
                    ul
                        li Гуппи
                        li Скалярии
                li Морские
                    ul
                        li Морская форель
    h4 Задача 1
    style.
        table {
        border-collapse: collapse;
        }

        td {
        border: 1px solid black;
        padding: 3px 5px;
        }
    table#table1
        tr
            td 1:1
            td 2:1
            td 3:1
            td 4:1
            td 5:1
        tr
            td 1:2
            td 2:2
            td 3:2
            td 4:2
            td 5:2
        tr
            td 1:3
            td 2:3
            td 3:3
            td 4:3
            td 5:3
        tr
            td 1:4
            td 2:4
            td 3:4
            td 4:4
            td 5:4
        tr
            td 1:5
            td 2:5
            td 3:5
            td 4:5
            td 5:5
include template/footer