include template/header
.index-wrapper
    ul
        li
            a(href="index.html" title="Современный учебник Javascript") назад
    h1 Современные возможности ES-2015
    p.
        Современный стандарт ES-2015 и его расширения для JavaScript.
    ul
        li ES-2015 сейчас
        li Переменные: let и const
        li Деструктуризация
        li Функции
        li Строки
        li Объекты и прототипы
        li Классы
        li Тип данных Symbol
        li Итераторы
        li Set, Map, WeakSet и WeakMap
        li Promise
        li Генераторы
        li Модули
        li Proxy
include template/footer