include template/header
style.
    body {padding: 15px;}
.index-wrapper
    ul
        li
            a(href="index.html" title="Современный учебник Javascript") назад
    h1 Основы работы с событиями
    p.
        Введение в браузерные события, общие свойства всех событий и приёмы работы с ними.
    ul
        li Введение в браузерные события
        li Порядок обработки событий
        li Объект события
        li Всплытие и перехват
        li Делегирование событий
        li Приём проектирования "поведение"
        li Действия браузера по умолчанию
        li Генерация событий на элементах
    h7 Задача 12
    style.
        #largeImg12 {
            border: solid 1px #ccc;
            width: 550px;
            height: 400px;
            padding: 5px;
        }

        #thumbs12 a {
            border: solid 1px #ccc;
            width: 100px;
            height: 100px;
            padding: 3px;
            margin: 2px;
            float: left;
        }

        #thumbs12 {
            height: 150px;
        }

        #thumbs12 a:hover {
            border-color: #FF9900;
        }
    #container12
        p
            img#largeImg12(
                src='https://js.cx/gallery/img1-lg.jpg', alt='Large image')
        #thumbs12
            a(href='https://js.cx/gallery/img2-lg.jpg', title='Image 2')
                img(src='https://js.cx/gallery/img2-thumb.jpg')
            a(href='https://js.cx/gallery/img3-lg.jpg', title='Image 3')
                img(src='https://js.cx/gallery/img3-thumb.jpg')
            a(href='https://js.cx/gallery/img4-lg.jpg', title='Image 4')
                img(src='https://js.cx/gallery/img4-thumb.jpg')
            a(href='https://js.cx/gallery/img5-lg.jpg', title='Image 5')
                img(src='https://js.cx/gallery/img5-thumb.jpg')
            a(href='https://js.cx/gallery/img6-lg.jpg', title='Image 6')
                img(src='https://js.cx/gallery/img6-thumb.jpg')
    #container11
        h7 Задача 11
        style.
            #contents11 {
                padding: 5px;
                border: 1px green solid;
            }
        fieldset#contents11
            legend #contents
            p.
                Как насчет почитать <a href="http://wikipedia.org">Википедию</a>, или посетить <a href="http://w3.org"><i>W3.org</i></a> и узнать про современные стандарты?
    h7 Задача 10
    style.
        .tooltip10 {
            position: absolute;
            left: 0px;
            top: 0px;

            padding: 10px 15px;
            border: 1px solid green;
            border-radius: 3px;
            box-shadow: 1px 1px 3px rgba(0,0,0,.4);
            background: white;
        }
        #container10 {
            left: 120px;
        }
        #container10 p {
            width: 1000px;
        }
    #container10
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        button(data-tooltip="подсказка длиннее, чем элемент") Короткая кнопка
        button(data-tooltip="HTML<br>подсказка") Ещё кнопка
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
    h7 Задача 9 (сортировка таблицы по клику)
    style.
        .th9 {
            cursor: pointer;
        }
        .th9:hover {
            background: yellow;
        }
    table#grid9
        thead
            tr
                th.th9(data-type='number') Возраст
                th.th9(data-type='string') Имя
                th.th9(data-type='string') Фамилия
        tbody
            tr
                td 5
                td Вася
                td Иванов
            tr
                td 2
                td Петя
                td Петров
            tr
                td 12
                td Женя
                td Пушкин
            tr
                td 9
                td Маша
                td Лермонтова
            tr
                td 1
                td Александр
                td Соболев
    h7 Задача 8
    style.
        .tree8 li span {
            cursor: pointer;
            user-select: none;
        }
        .tree8 li span:hover {
            font-weight: bold;
        }
    ul.tree8
        li
            span Животные
            ul
                li
                    span Млекопитающие
                    ul
                        li
                            span Коровы
                        li
                            span Ослы
                        li
                            span Собаки
                        li
                            span Тигры
            li
                span Другие
                ul
                    li
                        span Змеи
                    li
                        span Птицы
                    li
                        span Ящерицы
        li
            span Рыбы
            ul
                li
                    span Аквариумные
                    ul
                        li
                            span Гуппи
                        li
                            span Скалярии
            li
                span Морские
                ul
                    li
                        span Морская форель

    h7 Задача 7
    style.
        .header7 {
            margin: 0;
            padding-bottom: .3em;
            font-size: 1.1em;
        }

        .p7 {
            margin: 0;
            padding: 0 0 .5em;
        }

        .pane7 {
            background: #edf5e1;
            padding: 10px 20px 10px;
            border-top: solid 2px #c4df9b;
            margin: 10px 0;
        }

        .remove-button7 {
            font-size: 110%;
            color: darkred;
            right: 10px;
            width: 24px;
            height: 24px;
            border: none;
            background: transparent;
            cursor: pointer;
            float: right;
        }
    #container7
        div
            .pane7
                button.remove-button7 [x]
                .header7 Лошадь
                .p7
                    | Домашняя лошадь — животное семейства 
                    | непарнокопытных, одомашненный и единственный 
                    | сохранившийся подвид дикой лошади, вымершей 
                    | в дикой природе, за исключением небольшой 
                    | популяции лошади Пржевальского.
            .pane7
                button.remove-button7 [x]
                .header7 Осёл
                .p7
                    | Домашний осёл или ишак — одомашненный подвид 
                    | дикого осла, сыгравший важную историческую 
                    |роль в развитии хозяйства и культуры человека. 
                    |Все одомашненные ослы относятся к африканским ослам.
            .pane7
                button.remove-button7 [x]
                .header7 Корова, а также пара слов о диком быке, о волах и о тёлках. 
                .p7
                    | Коро́ва — самка домашнего быка, одомашненного 
                    | подвида дикого быка, парнокопытного жвачного 
                    | животного семейства полорогих. Самцы вида 
                    | называются быками, молодняк — телятами, 
                    | кастрированные самцы — волами. Молодых (до первой стельности) 
                    |самок называют тёлками.
    h7 Задача 6
    style.
        #field6 {
            width: 200px;
            height: 150px;
            border: 10px groove black;
            background-color: #00FF00;
            position: relative;
            overflow: hidden;
            user-select: none;
            cursor: default;
        }

        #ball6 {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -20px;
            margin-top: -20px;
            outline: 1px solid red;
            transition: all .5s linear;
        }
    #container6
        | Кликните на любое место поля, чтобы мяч перелетел туда. <br />
        | Мяч никогда не вылетит за границы поля.
        #field6
            img(src="/images/doom.png" id="ball6")
            | . . . . . . . . . . . . . . . . . . . . . .
            | . . . . . . . . . . . . . . . . . . . . . .
            | . . . . . . . . . . . . . . . . . . . . . .
            | . . . . . . . . . . . . . . . . . . . . . .
            | . . . . . . . . . . . . . . . . . . . . . .
            | . . . . . . . . . . . . . . . . . . . . . .
            | . . . . . . . . . . . . . . . . . . . . . .
            | . . . . . . . . . . . . . . . . . . . . . . .
  
    h7 Задача 5
    style.
        .arrow {
            padding: 0;
            background: #ddd;
            border-radius: 15px;
            border: 1px solid gray;
            font-size: 24px;
            line-height: 24px;
            color: #444;
            display: block;
        }

        .arrow:focus {
            outline: none;
        }

        .arrow:hover {
            background: #ccc;
            cursor: pointer;
        }

        .ul {
            height: 130px;
            width: 9999px;
            transition: all .55s ease-out;
            margin: 0;
            padding: 0;
            list-style: none;
            /* убрать между inline-block li лишние пробелы, которые есть в HTML */
            /* http://davidwalsh.name/remove-whitespace-inline-block */
            font-size: 0;
        }

        .ul img {
            width: 130px;
            height: 130px;
            /* по умолчанию inline, но в ряде браузеров это даст лишнее пространство вокруг элементов */
            display: block;
        }

        .ul li {
            /* если в HTML между элементами <li>..</li> есть пробелы, то они будут видны на странице,
            чтобы их избежать, нужно либо писать <li>..</li><li>..</li> 
            вплотную, либо не ставить закрывающие </li> */
            display: inline-block;
        }
        #slider {
            position: relative;
            width: 390px;
            padding-left: 40px;
            padding-right: 40px;
        }
        #slider .slider-wrapper {
            overflow: hidden;
            width: 100%;
        }
        #slider .arrow {
            position: absolute;
            top: 50px;
        }
        #slider .left {
            left: 0px;
        }
        #slider .right {
            right: 0px;
        }
    #slider
        button.arrow.left ⇦
        button.arrow.right ⇨
        .slider-wrapper
            ul(class='ul')
                li
                    img(src='https://js.cx/carousel/1.png')
                li
                    img(src='https://js.cx/carousel/2.png')
                li
                    img(src='https://js.cx/carousel/3.png')
                li
                    img(src='https://js.cx/carousel/4.png')
                li
                    img(src='https://js.cx/carousel/5.png')
                li
                    img(src='https://js.cx/carousel/6.png')
                li
                    img(src='https://js.cx/carousel/7.png')
                li
                    img(src='https://js.cx/carousel/8.png')
                li
                    img(src='https://js.cx/carousel/9.png')
                li
                    img(src='https://js.cx/carousel/10.png')
    h7 Задача 4
    style.
        .remove-button {
            font-size: 110%;
            color: darkred;
            right: 10px;
            width: 24px;
            height: 24px;
            border: none;
            background: transparent;
            float: right;
        }
        .pane {
            background: #edf5e1;
            padding: 10px 20px 10px;
            border-top: solid 2px #c4df9b;
            margin-bottom: 30px;
        }
    #container4
        .pane
            button(class="remove-button" data-delete-parent) [x]
            h3 Лошадь
            p
                | Домашняя лошадь — животное семейства непарнокопытных, 
                | одомашненный и единственный сохранившийся подвид дикой лошади, 
                | вымершей в дикой природе, за исключением небольшой популяции лошади Пржевальского.
        .pane
            button(class="remove-button" data-delete-parent) [x]
            h3 Осёл
            p
                | Домашний осёл или ишак — одомашненный подвид дикого осла, 
                | сыгравший важную историческую роль в развитии хозяйства и 
                | культуры человека. Все одомашненные ослы относятся к африканским ослам.
        .pane
            button(class="remove-button" data-delete-parent) [x]
            h3 Корова, а также пара слов о диком быке, о волах и о тёлках. 
            p
                | Коро́ва — самка домашнего быка, одомашненного подвида 
                | дикого быка, парнокопытного жвачного животного семейства полорогих. 
                | Самцы вида называются быками, молодняк — телятами, 
                | кастрированные самцы — волами. Молодых (до первой стельности) 
                |самок называют тёлками.
    h7 Задача 3
    style.
        [data-menu-btn] {
            padding-left: 20px;
            position: relative;
        }
        [data-menu-btn] > .right,
        [data-menu-btn] > .down {
            position: absolute;
            left: 0;
            top: 0;
        }
        [data-menu-btn] > .right {
            display: block;
        }
        [data-menu-btn] > .down {
            display: none;
        }
        [data-menu-btn].open > .down {
            display: block;
        }
        [data-menu-btn].open > .right {
            display: none;
        }
    #container3
        div(data-menu-btn)
            span.right ▶
            span.down ▼
            | Сладости (нажми меня)!
        ul(data-menu-box)
            li Торт
            li Пончик
            li Пирожное
        div(data-menu-btn)
            span.right ▶
            span.down ▼
            | Сладости (нажми меня)!
        ul(data-menu-box)
            li Торт
            li Пончик
            li Пирожное
        div(data-menu-btn)
            span.right ▶
            span.down ▼
            | Сладости (нажми меня)!
        ul(data-menu-box)
            li Торт
            li Пончик
            li Пирожное
    h7 Задача 2
    #container2
        input(id="input2" type="button" value="Нажмите, чтобы спрятать меня")
    h7 Задача 1
    #container1
        input(id="input1" type="button" value="Нажмите, чтобы спрятать текст")
        div(id="text1") Текст
script(defer src="./js/events-and-interfaces.js")
include template/footer