include template/header
style.
    body {padding: 15px;}
.index-wrapper
    ul
        li
            a(href="index.html" title="Современный учебник Javascript") назад
    h1 Основы работы с событиями
    p.
        Введение в браузерные события, общие свойства всех событий и приёмы работы с ними.
    ul
        li.
            Мышь: клики, кнопка, координаты
        li.
            Мышь: отмена выделения, невыделяемые элементы
        li.
            Мышь: движение mouseover/out, mouseenter/leave
        li.
            Мышь: Drag'n'Drop
        li.
            Мышь: Drag'n'Drop более глубоко
        li.
            Мышь: колёсико, событие wheel
        li.
            Мышь: IE8-, исправление события
        li.
            Прокрутка: событие scroll
        li.
            Клавиатура: keyup, keydown, keypress
        li.
            Загрузка документа: DOMContentLoaded, load, beforeunload, unload
        li.
            Загрузка скриптов, картинок, фреймов: onload и onerror
    #container14
        p
            h7 Задача 14 (нажмите одновременно клавиши с кнопками 'Q' + 'W')
        | 
    #container13
        p
            h7 Задача 13
        | Введите ваш возраст:
        input(type="text" id="input13")
    #container12
        p
            h7 Задача 12
        style.
            .news-item12 {
                width: 700px;
                text-align: justify;
                margin-top: 20px;
            }
            .news-item12 .title12 {
                font-weight: bold;
                margin-bottom: 5px;
            }
        p Тексты и картинки взяты с сайта http://etoday.ru. 
        h3 Все изображения с realsrc загружаются, когда становятся видимыми.
        .news-item12
            .title12 Космопорт Америка \ Architecture
            |     Будущее уже сейчас! Скоро фраза из фантастического фильма "флипнуть до космопорта" станет реальностью. По крайней мере вторую ее часть человечество обеспечило. В октябре состоялась официальная церемония открытия космопорта «Америка», первой в мире коммерческой
            |     площадки для частных космических полетов. Космопорт открылся в пустыне штата Нью-Мексико. Проект был реализован английским бюро Foster and Partners. Космопорт включает в себя зал ожидания и подготовки к полетам, диспетчерский пункт и ангар. Также
            |     обеспечена взлетно-посадочная полоса длиной в три километра.
            .illustrations
                img(src='https://js.cx/lazyimg/1.gif', width='200', height='140', realsrc='https://js.cx/lazyimg/1.jpg')
        .news-item12
            .title12 Рокер и супермодель в Vogue Russia \ Celebrities
            |     Супермодель Анна Вялицына (Anne Vyalitsyna) и музыкант Адам Ливайн (Adam Levine) снялись в ноябрьском номере Vogue Russia. Снимал их Аликс Малка (Alix Malka). Анна и Адам примерили на себя рок-н-ролльные наряды от Alexander Wang, Louis Vuitton, Alexander
            |     McQueen, Balmain, Yves Saint Laurent, подобранные для них Катериной Мухиной.
            .illustrations
                img(src='https://js.cx/lazyimg/1.gif', width='200', height='259', realsrc='https://js.cx/lazyimg/2-1.jpg')
                img(src='https://js.cx/lazyimg/1.gif', width='200', height='260', realsrc='https://js.cx/lazyimg/2-2.jpg')
        .news-item12
            .title12 Старость - не радость в Vogue Italia \ Fashion Photo
            |     Стивен Мейзел (Steven Meisel) снял фотосессию для октябрьского Vogue Italia. В съемках приняли участие: Карен Элсон (Karen Elson), Джиневер ван Синус (Guinevere van Seenus), Эмма Балфур (Emma Balfour), Эн Уст (An Oost), Коринна Ингенлеф (Corinna Ingenleuf),
            |     Танга Моро (Tanga Moreau), Кордула Рейер (Cordula Reyer), Гейл о`Нил (Gail O'Neil), Эвелин Кун (Evelyn Kuhn), Каролин де Мэгрэ (Caroline de Maigret), Дэльфин Бафор (Delfine Bafort), Кирстен Оуэн (Kirsten Owen), Гунилла Линдблад (Gunilla Lindblad).
            .illustrations
                img(src='https://js.cx/lazyimg/1.gif', width='341', height='474', realsrc='https://js.cx/lazyimg/3-1.jpg')
                img(src='https://js.cx/lazyimg/1.gif', width='338', height='474', realsrc='https://js.cx/lazyimg/3-2.jpg')
        .news-item12
            .title12 "Вышитый рентген" Matthew Cox \ Art
            |     Художник из Филадельфии Мэтью Кокс (Matthew Cox) создал серию работ, в которых объединены медицинский рентген и вышивка. Художник взял рентгенограммы и вышил их предполагаемое содержание частично со скелетными элементами. Получилось зловеще и интригующе.
            |     Выставка "Вышитый рентген" будет демонстрироваться в галерее Packer/Schopf в Майами, в рамках Базельской Художественной Недели. Эта серия - только треть творческой продукции Кокса. Он также создает традиционные картины и иллюстрации.
            .illustrations
                img(src='https://js.cx/lazyimg/1.gif', width='680', height='452', realsrc='https://js.cx/lazyimg/4.jpg')
        .news-item12
            .title12 Подарочный каталог Apple 1983 \ Creative
            |     Etoday предлагает полистать страницы подарочного каталога продукции Apple образца 1983 года. Кажется, это было так давно! Эта серия - только треть творческой продукции Кокса. Он также создает традиционные картины и иллюстрации.
            .illustrations
                img(src='https://js.cx/lazyimg/1.gif', width='600', height='393', realsrc='https://js.cx/lazyimg/5.jpg')
        .news-item12
            .title12 Винтажные открытки к празднику Halloween \ Illustrations
            |     Занимательная коллекция старых почтовых открыток праздника Halloween. Открытки взяты из ньюйоркской публичной библиотеки и датируются примерно 1910 г.
            .illustrations
                img(src='https://js.cx/lazyimg/1.gif', width='680', height='433', realsrc='https://js.cx/lazyimg/6.jpg')
        .news-item12
            .title12 Фотограф Emily Lee \ Photography
            |     Молодой фотограф Эмили Ли (Emily Lee) использует фотографию, чтобы выразить свои чувства. "Когда я смотрю на жизнь через камеру, вижу все более ясно, - пишет она на своем профиле Flickr. - Фотосъемка - это искусство наблюдения." Эмили Ли - обладательница
            |     большого таланта и умения глубоко понимать искусство, хотя учится еще только в средней школе.
            .illustrations
                img(src='https://js.cx/lazyimg/1.gif', width='680', height='453', realsrc='https://js.cx/lazyimg/7.jpg')
        .news-item12
            .title12 Иконы моды в Fashimals \ Creative
            |     Fashimals - tumblr-блог, посвященный иконам моды, превращенным в животных. Здесь есть Анна Винтур, Карл Лагерфельд, Терри Ричардсон, а также много других их коллег.
            .illustrations
                img(src='https://js.cx/lazyimg/1.gif', width='600', height='622', realsrc='https://js.cx/lazyimg/8.jpg')

    #container11
        p
            h7 Задача 11 (Кнопка вверх-вниз)
    #container10
        p
            h7 Задача 10
        style.
            .column-left10 {
                float: left;
                width: 30%;
                background: #aef;
            }

            .column-right10 {
                margin-left: 30%;
                width: 70%;
                background: tan;
                overflow: auto;
                /* расшириться вниз захватить float'ы */
            }

            .header10 {
                line-height: 60px;
                background: yellow;
            }

            .inner10 {
                margin: 1em;
                font-size: 130%;
            }

            #avatar10 {
                float: left;
                margin: 0 1em .5em 0;
                border: 1px solid black;
                text-align: center;
                background: white;
            }
        .header10 Шапка
        .column-left10
            .inner10
                h3 Персонажи:
                ul
                    li Винни-Пух
                    li Ослик Иа
                    li Сова
                    li Кролик
        .column-right10
            .inner10
                h3 Винни-Пух
                #avatar10
                    img(src='https://js.cx/clipart/winnie-mult.jpg', width='200', height='150')
                    div Кадр из мультфильма
                p
                    | Ви́нни-Пу́х (англ. Winnie-the-Pooh) — плюшевый мишка, персонаж повестей и стихов Алана Александра Милна (цикл не имеет общего названия и обычно тоже называется «Винни-Пух», по первой книге). Один из самых известных героев детской литературы XX века.
                p
                    | В 1960-е—1970-е годы, благодаря пересказу Бориса Заходера «Винни-Пух и все-все-все», а затем и фильмам студии «Союзмультфильм», где мишку озвучивал Евгений Леонов, Винни-Пух стал очень популярен и в Советском Союзе.
                p
                    | Как и многие другие персонажи книги Милна, медвежонок Винни получил имя от одной из реальных игрушек Кристофера Робина (1920—1996), сына писателя. В свою очередь, плюшевый мишка Винни-Пух был назван по имени медведицы по кличке Виннипег (Винни),
                    | содержавшейся в 1920-х в Лондонском зоопарке.
                p
                    | Медведица Виннипег (американский чёрный медведь) попала в Великобританию как живой талисман (маскот) Канадского армейского ветеринарного корпуса из Канады, а именно из окрестностей города Виннипега. Она оказалась в кавалерийском полку «Форт Гарри
                    | Хорс» 24 августа 1914 года ещё будучи медвежонком (её купил у канадского охотника-траппера за двадцать долларов 27-летний полковой ветеринар лейтенант Гарри Колборн, заботившийся о ней и в дальнейшем). Уже в октябре того же года медвежонок был
                    | привезён вместе с войсками в Британию, а так как полк должен был быть в ходе Первой мировой войны переправлен во Францию, то в декабре было принято решение оставить зверя до конца войны в Лондонском зоопарке. Медведица полюбилась лондонцам, и
                    | военные не стали возражать против того, чтобы не забирать её из зоопарка и после войны[1]. До конца дней (она умерла 12 мая 1934 года) медведица находилась на довольствии ветеринарного корпуса, о чём в 1919 году на её клетке сделали соответствующую
                    | надпись.
                p
                    | «Винни-Пух» представляет собой дилогию, но каждая из двух книг Милна распадается на 10 рассказов (stories) с собственным сюжетом, которые могут читаться, экранизироваться и т. д. независимо друг от друга. В некоторых переводах деление на две части
                    | не сохранено, в других не переведена вторая («Дом на Пуховой опушке»). Иногда первая и вторая книги выполнены разными переводчиками. Такова необычная судьба немецкого Винни-Пуха: первая книга вышла в немецком переводе в 1928 году, а вторая лишь
                    | в 1954; между этими датами — ряд трагических событий германской истории.
                p
                    | Действие книг о Пухе происходит в 500-акровом лесу Эшдаун близ купленной Милнами в 1925 году фермы Кочфорд в графстве Восточный Сассекс, Англия, представленном в книге как Стоакровый лес (англ. The Hundred Acre Wood, в пересказе Заходера — Чудесный
                    | лес). Реальными являются также Шесть сосен и ручеёк, у которого был найден Северный Полюс, а также упоминаемая в тексте растительность, в том числе колючий утёсник (gorse-bush, чертополох у Заходера), в который падает Пух[2]. Маленький Кристофер
                    | Робин любил забираться в дупла деревьев и играть там с Пухом, поэтому многие персонажи книг живут в дуплах, и значительная часть действия происходит в таких жилищах или на ветвях деревьев[2]. Алан Милн, Кристофер Робин и Винни-Пух. Фотография
                    | из Британской национальной портретной галереи
                p
                    | Действие «Винни-Пуха» разворачивается одновременно в трёх планах — это мир игрушек в детской, мир зверей «на своей территории» в Стоакровом лесу и мир персонажей в рассказах отца сыну (это наиболее чётко показано в самом начале)[4]. В дальнейшем
                    | рассказчик исчезает из повествования, и сказочный мир начинает собственное существование, разрастаясь от главы к главе[6]. Отмечалось сходство пространства и мира персонажей «Винни-Пуха» с классическим античным и средневековым эпосом[6]. Многообещающие
                    | эпические начинания персонажей (путешествия, подвиги, охоты, игры) оказываются комически малозначительными, в то время как настоящие события происходят во внутреннем мире героев (помощь в беде, гостеприимство, дружба)[6].
                p
                    | Книги Милна выросли из устных рассказов и игр с Кристофером Робином; устное происхождение характерно и для многих других знаменитых литературных сказок[6]. «Я, собственно, ничего не придумывал, мне оставалось только описывать», как говорил впоследствии
                    | Милн[5]. Реальными игрушками Кристофера Робина были также Пятачок (подарок соседей), Иа-Иа без хвоста (ранний подарок родителей), Кенга с Крошкой Ру в сумке и Тигра (куплены родителями впоследствии специально для развития сюжета вечерних рассказов
                    | сыну). В рассказах они появляются именно в таком порядке[2]. Сову и Кролика Милн придумал сам; на иллюстрациях Шепарда они выглядят не как игрушки, а как настоящие животные, Кролик говорит Сове: «Только у меня и тебя есть мозги. У остальных —
                    | опилки». В процессе игры все эти персонажи получили индивидуальные повадки, привычки и манеру разговора[6]. На созданный Милном мир животных повлияла повесть Кеннета Грэма «Ветер в ивах», которой он восхищался и которую ранее иллюстрировал Шепард[5],
                    | возможна также скрытая полемика с «Книгой джунглей» Киплинга[5]. Текст взят из Википедии.
    #container9
        p
            h7 Задача 9
        textarea(cols="80" rows="10")
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
        textarea(cols="80" rows="10")
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
        textarea(cols="80" rows="10")
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня
            | прокрути меня

    #container8
        p
            h7 Задача 8
        style.
            #elem8 {
                border: 1px solid red;
                width: 300px;
            }
        #elem8
            | При прокрутке колёсика мыши над этим элементом, он будет масштабироваться.
    #container7
        p
            h7 Задача 7
        style.
            .computer7 {
                width: 93px;
                height: 98px;
                background: url(https://js.cx/clipart/computer.gif) no-repeat;
                padding: 5px;
                font-style: italic;
            }
            .computer-smile7 {
                background: url(https://js.cx/clipart/computer-smile.gif) no-repeat;
            }
            .draggable7 {
                cursor: pointer;
            }
        div(style='height:64px')
            img.draggable7(src='https://js.cx/browsers/chrome.svg')
            img.draggable7(src='https://js.cx/browsers/firefox.svg')
            img.draggable7(src='https://js.cx/browsers/ie.svg')
            img.draggable7(src='https://js.cx/browsers/opera.svg')
            img.draggable7(src='https://js.cx/browsers/safari.svg')
        p Браузер переносить сюда:
        .computer7.droppable7
    #container6
        p
            h7 Задача 6
        style.
            #field6 {
                background: url(https://js.cx/drag-heroes/field.png);
                width: 800px;
                height: 600px;
                float: left;
            }
            /* герои и мяч (переносимые элементы) */

            .hero6 {
                background: url(https://js.cx/drag-heroes/heroes.png);
                width: 130px;
                height: 128px;
                float: left;
            }

            #hero61 {
                background-position: 0 0;
            }

            #hero62 {
                background-position: 0 -128px;
            }

            #hero63 {
                background-position: -120px 0;
            }

            #hero64 {
                background-position: -125px -128px;
            }

            #hero65 {
            background-position: -248px -128px;
            }

            #hero66 {
                background-position: -244px 0;
            }

            .draggable6 {
                cursor: pointer;
                outline: 1px solid green;
            }
        h2 Расставьте супергероев по полю.
        p
            | Супергерои и мяч -- это элементы с классом "draggable". Сделайте так, чтобы их можно было переносить.
        p
            | Важно: если супергероя подносят к низу или верху страницы, она должна автоматически прокручиваться. Если страница помещается на вашем экране целиком и не имеет вертикальной прокрутки -- сделайте окно браузера меньше, чтобы протестировать эту возможность.
        p Да, и ещё: супергерои ни при каких условиях не должны попасть за край экрана.
        #field6
        #hero61.hero6.draggable6
        #hero62.hero6.draggable6
        #hero63.hero6.draggable6
        #hero64.hero6.draggable6
        #hero65.hero6.draggable6
        #hero66.hero6.draggable6
        img(class="draggable6" src='https://js.cx/drag-heroes/ball.png')
        div(style='clear:both')
    #container5
        p
            h7 Задача 5
        style.
            .slider5 {
                border-radius: 5px;
                background: #E0E0E0;
                background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
                background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
                background: linear-gradient(left top, #E0E0E0, #EEEEEE);
                width: 310px;
                height: 15px;
                margin: 5px;
            }

            .thumb5 {
                width: 10px;
                height: 25px;
                border-radius: 3px;
                position: relative;
                left: 10px;
                top: -5px;
                background: blue;
                cursor: pointer;
            }
        #slider5.slider5
            .thumb5
    #container4
        p
            h7 Задача 4
        style.
            .hours4 {
                color: red;
            }

            .minutes4 {
                color: green;
            }

            .seconds4 {
                color: blue;
            }

            .clock4 {
                border: 1px dashed black;
                padding: 5px;
                display: inline-block;
                background: yellow;
                position: absolute;
                left: 0;
                top: 0;
            }

            .tooltip4 {
                position: absolute;
                background: #eee;
                border: 1px brown solid;
                padding: 3px;
            }
            #container4 {
                position: relative;
            }
        #elem4.clock4
            span.hours4 12
            |  :
            span.minutes4 30
            |  :
            span.seconds4 00
        #tooltip4(hidden) Tooltip
    #container3
        p
            h7 Задача 3
        style.
            #house3 {
                margin-top: 50px;
                width: 400px;
                border: 1px solid brown;
            }

            #roof3 {
                width: 0;
                height: 0;
                border-left: 200px solid transparent;
                border-right: 200px solid transparent;
                border-bottom: 20px solid brown;
                margin-top: -20px;
            }

            .p3 {
                text-align: justify;
                margin: 10px 3px;
            }
            .tooltip3 {
                position: absolute;
                padding: 10px 15px;
                border: 1px solid black;
                border-radius: 3px;
                background: white;
            }
        #house3(data-tooltip='Это – внутренность дома')
            #roof3(data-tooltip='Это – крыша')
            p.p3
                | Жили-были на свете три поросёнка. Три брата.
            p.p3
                | Все одинакового роста, кругленькие, розовые, 
                | с одинаковыми весёлыми хвостиками.
            p.p3
                | Даже имена у них были похожи. Звали поросят 
                | Ниф-Ниф, Нуф-Нуф и Наф-Наф. Всё лето они 
                | кувыркались в зелёной траве, грелись на солнышке, нежились в лужах.
            p.p3
                | Но вот наступила осень. 
                a(
                    href='http://ru.wikipedia.org/wiki/Три_поросёнка',
                    data-tooltip='Читать дальше…'
                    ) Наведи на меня
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        button(data-tooltip="подсказка длиннее, чем элемент") Короткая кнопка
        button(data-tooltip="HTML<br>подсказка") Ещё кнопка
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя

    #container2
        p
            h7 Задача 2
        style.
            .tree2 li {
                cursor: pointer;
            }
        ul#tree2.tree2
            li
                | Животные
                ul
                    li
                        | Млекопитающие
                        ul
                            li Коровы
                            li Ослы
                            li Собаки
                            li Тигры
                    li
                        | Другие
                        ul
                            li Змеи
                            li Птицы
                            li Ящерицы
            li
                | Рыбы
                ul
                    li
                        | Аквариумные
                        ul
                            li Гуппи
                            li Скалярии
                    li
                        | Морские
                        ul
                            li Морская форель

    #container1
        p
            h7 Задача 1
        style.
            .selected1 {
                background: #0f0;
            }

            #ul1 li {
                cursor: pointer;
            }
        | Клик на элементе выделяет только его. <br />
        | Ctrl(Cmd)+Клик добавляет/убирает элемент из выделенных. <br>
        | Shift+Клик добавляет промежуток от последнего кликнутого к выделению. <br>
        ul#ul1
            li Кристофер Робин
            li Винни-Пух
            li Ослик Иа
            li Мудрая Сова
            li Кролик. Просто кролик.
script(defer src="./js/event-details.js")
include template/footer