include template/header
style.
    body {padding: 15px;}
.index-wrapper
    ul
        li
            a(href="index.html" title="Современный учебник Javascript") назад
    h1 Основы работы с событиями
    p.
        Введение в браузерные события, общие свойства всех событий и приёмы работы с ними.
    ul
        li.
            Мышь: клики, кнопка, координаты
        li.
            Мышь: отмена выделения, невыделяемые элементы
        li.
            Мышь: движение mouseover/out, mouseenter/leave
        li.
            Мышь: Drag'n'Drop
        li.
            Мышь: Drag'n'Drop более глубоко
        li.
            Мышь: колёсико, событие wheel
        li.
            Мышь: IE8-, исправление события
        li.
            Прокрутка: событие scroll
        li.
            Клавиатура: keyup, keydown, keypress
        li.
            Загрузка документа: DOMContentLoaded, load, beforeunload, unload
        li.
            Загрузка скриптов, картинок, фреймов: onload и onerror
    #container7
        p
            h7 Задача 7
        style.
            .computer7 {
                width: 93px;
                height: 98px;
                background: url(https://js.cx/clipart/computer.gif) no-repeat;
                padding: 5px;
                font-style: italic;
            }
            .computer-smile7 {
                background: url(https://js.cx/clipart/computer-smile.gif) no-repeat;
            }
            .draggable7 {
                cursor: pointer;
            }
        div(style='height:64px')
            img.draggable7(src='https://js.cx/browsers/chrome.svg')
            img.draggable7(src='https://js.cx/browsers/firefox.svg')
            img.draggable7(src='https://js.cx/browsers/ie.svg')
            img.draggable7(src='https://js.cx/browsers/opera.svg')
            img.draggable7(src='https://js.cx/browsers/safari.svg')
        p Браузер переносить сюда:
        .computer7.droppable7
    #container6
        p
            h7 Задача 6
        style.
            #field6 {
                background: url(https://js.cx/drag-heroes/field.png);
                width: 800px;
                height: 600px;
                float: left;
            }
            /* герои и мяч (переносимые элементы) */

            .hero6 {
                background: url(https://js.cx/drag-heroes/heroes.png);
                width: 130px;
                height: 128px;
                float: left;
            }

            #hero61 {
                background-position: 0 0;
            }

            #hero62 {
                background-position: 0 -128px;
            }

            #hero63 {
                background-position: -120px 0;
            }

            #hero64 {
                background-position: -125px -128px;
            }

            #hero65 {
            background-position: -248px -128px;
            }

            #hero66 {
                background-position: -244px 0;
            }

            .draggable6 {
                cursor: pointer;
                outline: 1px solid green;
            }
        h2 Расставьте супергероев по полю.
        p
            | Супергерои и мяч -- это элементы с классом "draggable". Сделайте так, чтобы их можно было переносить.
        p
            | Важно: если супергероя подносят к низу или верху страницы, она должна автоматически прокручиваться. Если страница помещается на вашем экране целиком и не имеет вертикальной прокрутки -- сделайте окно браузера меньше, чтобы протестировать эту возможность.
        p Да, и ещё: супергерои ни при каких условиях не должны попасть за край экрана.
        #field6
        #hero61.hero6.draggable6
        #hero62.hero6.draggable6
        #hero63.hero6.draggable6
        #hero64.hero6.draggable6
        #hero65.hero6.draggable6
        #hero66.hero6.draggable6
        img(class="draggable6" src='https://js.cx/drag-heroes/ball.png')
        div(style='clear:both')
    #container5
        p
            h7 Задача 5
        style.
            .slider5 {
                border-radius: 5px;
                background: #E0E0E0;
                background: -moz-linear-gradient(left top, #E0E0E0, #EEEEEE) repeat scroll 0 0 transparent;
                background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#EEEEEE));
                background: linear-gradient(left top, #E0E0E0, #EEEEEE);
                width: 310px;
                height: 15px;
                margin: 5px;
            }

            .thumb5 {
                width: 10px;
                height: 25px;
                border-radius: 3px;
                position: relative;
                left: 10px;
                top: -5px;
                background: blue;
                cursor: pointer;
            }
        #slider5.slider5
            .thumb5
    #container4
        p
            h7 Задача 4
        style.
            .hours4 {
                color: red;
            }

            .minutes4 {
                color: green;
            }

            .seconds4 {
                color: blue;
            }

            .clock4 {
                border: 1px dashed black;
                padding: 5px;
                display: inline-block;
                background: yellow;
                position: absolute;
                left: 0;
                top: 0;
            }

            .tooltip4 {
                position: absolute;
                background: #eee;
                border: 1px brown solid;
                padding: 3px;
            }
            #container4 {
                position: relative;
            }
        #elem4.clock4
            span.hours4 12
            |  :
            span.minutes4 30
            |  :
            span.seconds4 00
        #tooltip4(hidden) Tooltip
    #container3
        p
            h7 Задача 3
        style.
            #house3 {
                margin-top: 50px;
                width: 400px;
                border: 1px solid brown;
            }

            #roof3 {
                width: 0;
                height: 0;
                border-left: 200px solid transparent;
                border-right: 200px solid transparent;
                border-bottom: 20px solid brown;
                margin-top: -20px;
            }

            .p3 {
                text-align: justify;
                margin: 10px 3px;
            }
            .tooltip3 {
                position: absolute;
                padding: 10px 15px;
                border: 1px solid black;
                border-radius: 3px;
                background: white;
            }
        #house3(data-tooltip='Это – внутренность дома')
            #roof3(data-tooltip='Это – крыша')
            p.p3
                | Жили-были на свете три поросёнка. Три брата.
            p.p3
                | Все одинакового роста, кругленькие, розовые, 
                | с одинаковыми весёлыми хвостиками.
            p.p3
                | Даже имена у них были похожи. Звали поросят 
                | Ниф-Ниф, Нуф-Нуф и Наф-Наф. Всё лето они 
                | кувыркались в зелёной траве, грелись на солнышке, нежились в лужах.
            p.p3
                | Но вот наступила осень. 
                a(
                    href='http://ru.wikipedia.org/wiki/Три_поросёнка',
                    data-tooltip='Читать дальше…'
                    ) Наведи на меня
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        button(data-tooltip="подсказка длиннее, чем элемент") Короткая кнопка
        button(data-tooltip="HTML<br>подсказка") Ещё кнопка
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя

    #container2
        p
            h7 Задача 2
        style.
            .tree2 li {
                cursor: pointer;
            }
        ul#tree2.tree2
            li
                | Животные
                ul
                    li
                        | Млекопитающие
                        ul
                            li Коровы
                            li Ослы
                            li Собаки
                            li Тигры
                    li
                        | Другие
                        ul
                            li Змеи
                            li Птицы
                            li Ящерицы
            li
                | Рыбы
                ul
                    li
                        | Аквариумные
                        ul
                            li Гуппи
                            li Скалярии
                    li
                        | Морские
                        ul
                            li Морская форель

    #container1
        p
            h7 Задача 1
        style.
            .selected1 {
                background: #0f0;
            }

            #ul1 li {
                cursor: pointer;
            }
        | Клик на элементе выделяет только его. <br />
        | Ctrl(Cmd)+Клик добавляет/убирает элемент из выделенных. <br>
        | Shift+Клик добавляет промежуток от последнего кликнутого к выделению. <br>
        ul#ul1
            li Кристофер Робин
            li Винни-Пух
            li Ослик Иа
            li Мудрая Сова
            li Кролик. Просто кролик.
script(defer src="./js/event-details.js")
include template/footer