include template/header
style.
    body {padding: 15px;}
.index-wrapper
    ul
        li
            a(href="index.html" title="Современный учебник Javascript") назад
    h1 Основы работы с событиями
    p.
        Введение в браузерные события, общие свойства всех событий и приёмы работы с ними.
    ul
        li Введение в браузерные события
        li Порядок обработки событий
        li Объект события
        li Всплытие и перехват
        li Делегирование событий
        li Приём проектирования "поведение"
        li Действия браузера по умолчанию
        li Генерация событий на элементах
    h7 Задача 5
    style.
        .arrow {
            padding: 0;
            background: #ddd;
            border-radius: 15px;
            border: 1px solid gray;
            font-size: 24px;
            line-height: 24px;
            color: #444;
            display: block;
        }

        .arrow:focus {
            outline: none;
        }

        .arrow:hover {
            background: #ccc;
            cursor: pointer;
        }

        .ul {
            height: 130px;
            width: 9999px;
            margin: 0;
            padding: 0;
            list-style: none;
            /* убрать между inline-block li лишние пробелы, которые есть в HTML */
            /* http://davidwalsh.name/remove-whitespace-inline-block */
            font-size: 0;
        }

        .ul img {
            width: 130px;
            height: 130px;
            /* по умолчанию inline, но в ряде браузеров это даст лишнее пространство вокруг элементов */
            display: block;
        }

        .ul li {
            /* если в HTML между элементами <li>..</li> есть пробелы, то они будут видны на странице,
            чтобы их избежать, нужно либо писать <li>..</li><li>..</li> 
            вплотную, либо не ставить закрывающие </li> */
            display: inline-block;
        }
        #slider {
            position: relative;
            width: 390px;
            padding-left: 40px;
            padding-right: 40px;
        }
        #slider .slider-wrapper {
            overflow: hidden;
            width: 100%;
        }
        #slider .arrow {
            position: absolute;
            top: 50px;
        }
        #slider .left {
            left: 0px;
        }
        #slider .right {
            right: 0px;
        }
    #slider
        button.arrow.left ⇦
        button.arrow.right ⇨
        .slider-wrapper
            ul(class='ul')
                li
                    img(src='https://js.cx/carousel/1.png')
                li
                    img(src='https://js.cx/carousel/2.png')
                li
                    img(src='https://js.cx/carousel/3.png')
                li
                    img(src='https://js.cx/carousel/4.png')
                li
                    img(src='https://js.cx/carousel/5.png')
                li
                    img(src='https://js.cx/carousel/6.png')
                li
                    img(src='https://js.cx/carousel/7.png')
                li
                    img(src='https://js.cx/carousel/8.png')
                li
                    img(src='https://js.cx/carousel/9.png')
                li
                    img(src='https://js.cx/carousel/10.png')
    h7 Задача 4
    style.
        .remove-button {
            font-size: 110%;
            color: darkred;
            right: 10px;
            width: 24px;
            height: 24px;
            border: none;
            background: transparent;
            float: right;
        }
        .pane {
            background: #edf5e1;
            padding: 10px 20px 10px;
            border-top: solid 2px #c4df9b;
            margin-bottom: 30px;
        }
    #container4
        .pane
            button(class="remove-button" data-delete-parent) [x]
            h3 Лошадь
            p
                | Домашняя лошадь — животное семейства непарнокопытных, 
                | одомашненный и единственный сохранившийся подвид дикой лошади, 
                | вымершей в дикой природе, за исключением небольшой популяции лошади Пржевальского.
        .pane
            button(class="remove-button" data-delete-parent) [x]
            h3 Осёл
            p
                | Домашний осёл или ишак — одомашненный подвид дикого осла, 
                | сыгравший важную историческую роль в развитии хозяйства и 
                | культуры человека. Все одомашненные ослы относятся к африканским ослам.
        .pane
            button(class="remove-button" data-delete-parent) [x]
            h3 Корова, а также пара слов о диком быке, о волах и о тёлках. 
            p
                | Коро́ва — самка домашнего быка, одомашненного подвида 
                | дикого быка, парнокопытного жвачного животного семейства полорогих. 
                | Самцы вида называются быками, молодняк — телятами, 
                | кастрированные самцы — волами. Молодых (до первой стельности) 
                |самок называют тёлками.
    h7 Задача 3
    style.
        [data-menu-btn] {
            padding-left: 20px;
            position: relative;
        }
        [data-menu-btn] > .right,
        [data-menu-btn] > .down {
            position: absolute;
            left: 0;
            top: 0;
        }
        [data-menu-btn] > .right {
            display: block;
        }
        [data-menu-btn] > .down {
            display: none;
        }
        [data-menu-btn].open > .down {
            display: block;
        }
        [data-menu-btn].open > .right {
            display: none;
        }
    #container3
        div(data-menu-btn)
            span.right ▶
            span.down ▼
            | Сладости (нажми меня)!
        ul(data-menu-box)
            li Торт
            li Пончик
            li Пирожное
        div(data-menu-btn)
            span.right ▶
            span.down ▼
            | Сладости (нажми меня)!
        ul(data-menu-box)
            li Торт
            li Пончик
            li Пирожное
        div(data-menu-btn)
            span.right ▶
            span.down ▼
            | Сладости (нажми меня)!
        ul(data-menu-box)
            li Торт
            li Пончик
            li Пирожное
    h7 Задача 2
    #container2
        input(id="input2" type="button" value="Нажмите, чтобы спрятать меня")
    h7 Задача 1
    #container1
        input(id="input1" type="button" value="Нажмите, чтобы спрятать текст")
        div(id="text1") Текст
script(defer src="./js/events-and-interfaces.js")
include template/footer