include template/header
style.
    body {padding: 15px;}
.index-wrapper
    ul
        li
            a(href="index.html" title="Современный учебник Javascript") назад
    h1 Основы работы с событиями
    p.
        Введение в браузерные события, общие свойства всех событий и приёмы работы с ними.
    ul
        li.
            Мышь: клики, кнопка, координаты
        li.
            Мышь: отмена выделения, невыделяемые элементы
        li.
            Мышь: движение mouseover/out, mouseenter/leave
        li.
            Мышь: Drag'n'Drop
        li.
            Мышь: Drag'n'Drop более глубоко
        li.
            Мышь: колёсико, событие wheel
        li.
            Мышь: IE8-, исправление события
        li.
            Прокрутка: событие scroll
        li.
            Клавиатура: keyup, keydown, keypress
        li.
            Загрузка документа: DOMContentLoaded, load, beforeunload, unload
        li.
            Загрузка скриптов, картинок, фреймов: onload и onerror
    #container3
        p
            h7 Задача 3
        style.
            #house3 {
                margin-top: 50px;
                width: 400px;
                border: 1px solid brown;
            }

            #roof3 {
                width: 0;
                height: 0;
                border-left: 200px solid transparent;
                border-right: 200px solid transparent;
                border-bottom: 20px solid brown;
                margin-top: -20px;
            }

            .p3 {
                text-align: justify;
                margin: 10px 3px;
            }
            .tooltip3 {
                position: absolute;
                padding: 10px 15px;
                border: 1px solid black;
                border-radius: 3px;
                background: white;
            }
        #house3(data-tooltip='Это – внутренность дома')
            #roof3(data-tooltip='Это – крыша')
            p.p3
                | Жили-были на свете три поросёнка. Три брата.
            p.p3
                | Все одинакового роста, кругленькие, розовые, 
                | с одинаковыми весёлыми хвостиками.
            p.p3
                | Даже имена у них были похожи. Звали поросят 
                | Ниф-Ниф, Нуф-Нуф и Наф-Наф. Всё лето они 
                | кувыркались в зелёной траве, грелись на солнышке, нежились в лужах.
            p.p3
                | Но вот наступила осень. 
                a(
                    href='http://ru.wikipedia.org/wiki/Три_поросёнка',
                    data-tooltip='Читать дальше…'
                    ) Наведи на меня
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        button(data-tooltip="подсказка длиннее, чем элемент") Короткая кнопка
        button(data-tooltip="HTML<br>подсказка") Ещё кнопка
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя
        p ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя ЛяЛяЛя

    #container2
        p
            h7 Задача 2
        style.
            .tree2 li {
                cursor: pointer;
            }
        ul#tree2.tree2
            li
                | Животные
                ul
                    li
                        | Млекопитающие
                        ul
                            li Коровы
                            li Ослы
                            li Собаки
                            li Тигры
                    li
                        | Другие
                        ul
                            li Змеи
                            li Птицы
                            li Ящерицы
            li
                | Рыбы
                ul
                    li
                        | Аквариумные
                        ul
                            li Гуппи
                            li Скалярии
                    li
                        | Морские
                        ul
                            li Морская форель

    #container1
        p
            h7 Задача 1
        style.
            .selected1 {
                background: #0f0;
            }

            #ul1 li {
                cursor: pointer;
            }
        | Клик на элементе выделяет только его. <br />
        | Ctrl(Cmd)+Клик добавляет/убирает элемент из выделенных. <br>
        | Shift+Клик добавляет промежуток от последнего кликнутого к выделению. <br>
        ul#ul1
            li Кристофер Робин
            li Винни-Пух
            li Ослик Иа
            li Мудрая Сова
            li Кролик. Просто кролик.
script(defer src="./js/event-details.js")
include template/footer