include template/header
.index-wrapper
    ul
        li
            a(href="index.html" title="Современный учебник Javascript") назад
    h1 Основы JavaScript
    p Основные кирпичики, из которых состоят скрипты.


include template/footer