include template/header
.index-wrapper
  ul
    li
      a(href="index.html" title="Современный учебник Javascript") назад
  h1 Замыкания, область видимости
  p Понимание «области видимости» и «замыканий» – ключевое в изучении JavaScript, без них «каши не сваришь».
  p В этом разделе мы более глубоко изучаем переменные и функции – и замыкания в том числе.