include template/header
.index-wrapper
    ul
        li
        a(href="index.html" title="Современный учебник Javascript") назад
    h1 Некоторые другие возможности
    p Различные возможности JavaScript, которые достаточно важны, но не заслужили отдельного раздела.
include template/footer