include template/header
.index-wrapper
	ul
		li
			a(href="index.html" title="Современный учебник Javascript") назад
	h1 Методы объектов и контекст вызова
	p.
		Начинаем изучать объектно-ориентированную разработку – как работают объекты
		и функции, что такое контекст вызова и способы его передачи.
include template/footer