include template/header
.index-wrapper
  ul
    li
      a(href="index.html" title="Современный учебник Javascript") назад
  h1 Автоматические тесты при помощи chai и mocha
  p.
    В этой главе мы разберём основы автоматического тестирования.
    Оно будет применяться далее в задачах, и вообще,
    входит в «образовательный минимум» программиста.

  <!-- подключаем стили Mocha, для отображения результатов -->
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.css")
  <!-- подключаем библиотеку Mocha -->
  script(src="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.js")
  <!-- настраиваем Mocha: предстоит BDD-тестирование -->
  script.
    mocha.setup('bdd');


  <!-- подключаем chai -->
  script(src="https://cdnjs.cloudflare.com/ajax/libs/chai/2.0.0/chai.js")
  <!-- в chai есть много всего, выносим assert в глобальную область -->
  script.
    var assert = chai.assert;

  script.
    function pow(x, n) {
      var result = x;

      if (n < 0 || isZerroToZerro(x, n) || !isInteger(n) ) return NaN;
      if (!n) return 1;

      for (var i = 1; i < n; i++) {
        result *= x;
      };

      return result;
    }

    function isInteger(n) {
      if ( (~~n) === n) {
        return true;
      }
      return false;
    }

    function isZerroToZerro(x, n) {
      console.log(x,n)
      if ( !x && !n ) return true;
    }

    describe("pow", function () {

      it("возводит в 0-ю степень", function () {
        assert.equal(pow(2, 0), 1);
      });

      describe("возводит x в степень n", function() {
        function makeTest(x) {
          var expected = x * x * x;

          it("при возведении " + x + " в степень 3 результат: " + expected, function () {
            assert.equal(pow(x, 3), expected);
          });
        };

        for (var x = 1; x <= 5; x++) {
          makeTest(x);
        }
      });

      it("при возведении в отрицательную степень результат NaN", function () {
        assert(isNaN(pow(2, -1)));
      });

      it("при возведении в дробную степень результат NaN", function () {
        assert(isNaN(pow(2, 1.5)));
      });

      it("ноль в нулевой степени даёт NaN", function () {
        assert(isNaN(pow(0, 0)));
      });


    });

  #mocha

  script.
    mocha.run();


include template/footer